<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crear anuncio facebook</title>
    <link rel="icon" href="http://cdn.lostdog.mx/assets/img/favicon.ico">
  </head>
  <body style="margin: 0; background-color: white;">
    <table style="width: 100%;">
      <tr>
        <th style="width: 20%;"></th>
        <th style="width: 60%;"></th>
        <th style="width: 20%;"></th>
      </tr>      
      <tr>
        <td style="width: 20%;"></td>
        <td style="width: 60%; background-color: #F2F2F2; border-radius: 10px; text-align: center;">
          <img style="width: 300px;height: 127px;margin-top: 25px;" src="http://cdn.lostdog.mx/assets/img/logo-name.png">
          <h2 style="border-bottom: 10px solid #673A9A; border-radius: 5px; width: 100%;"><i>¡Hola!</i></h2>
          <h3 style="font-size: 1.5rem;">Mascota creada con <b>exito</b>: </h3>
          <ul style="text-align: left; font-size: 1.3rem;">
            <li><b>nombre: </b>{{dog.name}}</li>
            <li><b>raza: </b> {{dog.kind}} <a style="font-size: 1rem" href="https://github.com/lostDogs/lost-dogs/blob/master/app/common/content/breeds.json"> ver listado de razas</a></li>
            <li><b>description:</b> {{dog.description}}</li>
            <li><b>imagen: </b><a style="font-size: 1rem" href="{{imgUrl}}"> ver imagen</a></li>
            <li><b>fecha de encontrado:  </b> {{dog.found_date}}</li>
            <li><b>Nombre de dueño:  </b> {{user.name}}</li>
            <li><b>Correo del dueño:  </b> {{user.email}}</li>            
            <li><b>macho: </b> {{gender}} </li>
            <li><b>color:  </b> {{dog.color}}</li>
            <li><b>ID:  </b> {{dog._id}}</li>
            <li><b>reward: </b>{{dog.reward}}</li>
            <li><b>location: </b> {{dog.address}}, <a style="font-size: 1rem" href="{{mapsUrl}}"> ver en google maps</a></li>
            <li><b>info de pago: </b><ul>
              <li><u>cantidad: </u> $ {{paymentInfo.amount}} {{paymentInfo.currency}}</li>
              <li><u>ID: </u> {{paymentInfo.id}}</li>
              <li><u>status: </u> {{paymentInfo.status}}</li>
            </ul></li>
            <li><b>Facebook-ads:</b><ul>
              <li><u>image url:</u> {{fbAd.img.url}}</li>
              <li><u>image hash:</u> {{fbAd.img.hash}}</li>
              <li><u>creative ID:</u> {{fbAd.creativeid}}</li>
              <li><u>Ad ID:</u> {{fbAd.adId}}</li>
              <li><u>Adset ID:</u> {{fbAd.adSetId}}</li>
            </ul></li>
          </ul>
          <div style="border-top:10px solid #673A9A; border-radius: 5px;width: 100%;"></div>
          <div style="margin-top: 5px; padding-bottom: 10px;"> <a href="mailto:soporte@Lostdog.mx">soporte@Lostdog.mx </a><b> | </b> <a href="https://{{metadata.appName}}/#/info/faqs"> Preguntas frecuentes</a></div>
        </td>
        <td style="width: 20%;"></td>
      </tr>
    </table>
  </body>
</html>