<!DOCTYPE html>
<html>
<head>
	<title>Forgot passoword</title>
</head>
<body style="margin:0;background-color:#F2F2F2; text-align: center;">
  <img style="width: 300px;height: 127px;margin-top: 25px;" src="http://cdn.lostdog.mx/assets/img/logo-name.png">
  <h2 style="border-bottom:10px solid #673A9A;border-radius: 5px; width: 100%">Hola {{user.name}} {{user.lastname}}!</h2>
  Tu nueva contraseña es:<br/>
  <b><h3>{{password}}</h3></b>
      <p>Puedes cambiar despues en <a href="https://young-dusk-13276.herokuapp.com/#/profile/edit">Mi cuenta</a</p>
  <div style="border-top:10px solid #673A9A;border-radius: 5px;width: 100%"></div>
  <div style="margin-top: 5px"> <a href="#">soporte@Lostdog.mx</a><b>|</b> <a href="#">Preguntas frecuentes</a></div>
</body>
</html>