<!DOCTYPE html>
<html>
<head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Forgot passoword</title>
</head>
<body style="margin:0;background-color:#F2F2F2; text-align: center;">
  <img style="width: 300px;height: 127px;margin-top: 25px;" src="http://cdn.lostdog.mx/assets/img/logo-name.png">
  <h2 style="border-bottom:10px solid #673A9A;border-radius: 5px; width: 100%"><i>¡Hola {{user.name}} {{user.lastname}}!</i></h2>
  Tu nueva contraseña es:<br/>
  <b><h3>{{password}}</h3></b>
  <p>Puedes cambiarla después en <a href="https://{{metadata.appName}}.com/#/profile/edit">Mi cuenta</a>.</p>
  <div style="border-top:10px solid #673A9A;border-radius: 5px;width: 100%"></div>
  <div style="margin-top: 5px"> <a href="#">soporte@Lostdog.mx</a><b>|</b> <a href="#">Preguntas frecuentes</a></div>
</body>
</html>