<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forgot passoword</title>
    <link rel="icon" href="http://cdn.lostdog.mx/assets/img/favicon.ico">
  </head>
  <body style="margin: 0; background-color: white;">
    <table style="width: 100%;">
      <tr>
        <th style="width: 20%;"></th>
        <th style="width: 60%;"></th>
        <th style="width: 20%;"></th>
      </tr>      
      <tr>
        <td style="width: 20%;"></td>
        <td style="width: 60%; background-color: #F2F2F2; border-radius: 10px; text-align: center;">
          <img style="width: 300px;height: 127px;margin-top: 25px;" src="http://cdn.lostdog.mx/assets/img/logo-name.png">
          <h2 style="border-bottom: 10px solid #673A9A; border-radius: 5px; width: 100%;"><i>¡Hola {{user.name}}!</i></h2>
          Tu nueva contraseña es:<br/>
          <b><h3 style="color: #673A9A;">{{password}}</h3></b>
          <p>Puedes cambiarla después en <a href="https://{{metadata.appName}}/#/profile/edit">Mi cuenta</a>.</p>
          <div style="border-top:10px solid #673A9A; border-radius: 5px;width: 100%;"></div>
          <div style="margin-top: 5px; padding-bottom: 10px;"> <a href="mailto:soporte@Lostdog.mx">soporte@Lostdog.mx </a><b> | </b> <a href="https://{{metadata.appName}}/#/info/faqs"> Preguntas frecuentes</a></div>
        </td>
        <td style="width: 20%;"></td>
      </tr>
    </table>
  </body>
</html>