<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Notificacion Lostdog</title>
</head>

<body>
  Hola {{reporter.name}} {{reporter.lastName}}
  hemos encontrado el duenio del perro. En poco tiempo se podra en contacto contigo
	En poco tiempo se podra en contacto contigo Una vez que hayan encontrado, accede a este link para saber si completo la <a href="https://wwww.{{metadata.appName}}.com/{{transaction.id}}">transacion</a> 
</body>

</html>
