<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Notificacion de Lostdog</title>
    <link rel="icon" href="http://cdn.lostdog.mx/assets/img/favicon.ico">
  </head>
  <body style="margin: 0; background-color: white;">
    <table style="width: 100%">
      <tr>
        <th style="width: 20%;"></th>
        <th style="width: 60%;"></th>
        <th style="width: 20%;"></th>
      </tr>
      <tr>
        <td style="width: 20%;"></td>
        <td style="width: 60%; background-color: #F2F2F2; border-radius: 10px; text-align: center;">
          <img style="width: 300px; height: 127px;margin-top: 25px;" src="http://cdn.lostdog.mx/assets/img/logo-name.png">
          <h2 style="border-bottom: 10px solid #673A9A;border-radius: 5px; width: 100%;"><i>¡Hola {{owner.name}}!</i></h2>
          <h3>Estos son los datos de la persona que posiblemente rescato tu mascota.</h3>
          <p><b>Nombre:</b> {{reporter.name}} {{reporter.lastname}}.</p>
          <p><b>Telefono:</b> {{reporter.contact_info.phone_number.area_code}} {{reporter.contact_info.phone_number.number}}.</p>
          <p><b>Email:</b> {{reporter.email}}.</p>
          <img src="{{reporter.avatar_url}}" width="150px" height="150px" style="border-radius: 50%; border: 4px solid #673A9A" />
          <h3 style="padding-top: 20px;">¿Cuáles son los siguientes pasos?</h3>
          <p>-<b>Contacta</b> con el rescatista y <b>acuerda un punto de encuentro</b>, preferentemente un parque <br>o lugar público. Lo mejor es ir acompañado.</p>
          <p>-Si el perro es tu perro podrás llevártelo a casa.</p>
          <p>-Es importante que <b> entregues el código QR </b> al rescatista para verificar que si fue tu perro y <br> que ya lo tienes contigo. Este código se lo puedes enviar por email, mensajería <br> instantánea (WhatsApp o SMS) o permitirle que le tome una foto directamente a él.</p>
          <img src="{{qrUrl}}" width="300px" height="300px" style="border: 4px solid #673A9A;padding: 20px;border-radius: 10px;background-color: white;" />
          <h3 style="padding-top: 20px;">¿Qué pasa si no es mi perro?</h3>
          <p>-Si el perro no es el tuyo no deberás entregar el código QR al rescatista.</p>
          <p>-Solicita tu dinero de regreso <a href="https://{{metadata.appName}}.com/#/refund">aquí</a>.</p>
          <div style="border-top: 10px solid #673A9A;border-radius: 5px;width: 100%;"></div>
          <div style="margin-top: 5px; padding-bottom: 10px;"> <a href="#">soporte@Lostdog.mx </a><b> | </b> <a href="#"> Preguntas frecuentes</a></div>
        </th>
        <td style="width: 20%;"></td>        
      </tr>
    </table>
  </body>
</html>
