<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bienvenido a Lostdog</title>
</head>

<body>
  Hola {{owner.name}} {{owner.lastName}}
  <p>Datos del dueño del perro.</p>
  <p>Nombre: {{reporter.name}} {{reporter.lastname}}</p>
  <p>Telefono: {{reporter.phone}}</p>
  <p>Email: {{reporter.email}}</p>
  Una vez que hayan encontrado,accede a este link para saber si completo la <a href="https://wwww.{{metadata.appName}}.com/{{transaction.id}}">transacion</a>

  <img src="{{qrUrl}}" width="400px" height="400px" />
</body>

</html>
