<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Notificacion Lostdog</title>
</head>

<body>
  Hola {{owner.name}} {{owner.lastName}} hemos encontrado a su perro completa los datos en la siguente <a href="https://www.{{metadata.appName}}.com/paymentForm?transcation={{transaction._id}}">liga</a> para ponerte encotnacto con quien lo encontro.

  <img src="{{qrUrl}}" width="400px" height="400px" />
</body>

</html>
