<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Notificacion de Lostdog</title>
    <link rel="icon" href="http://cdn.lostdog.mx/assets/img/favicon.ico">
  </head>
  <body style="margin:0;background-color:#F2F2F2; text-align: center;">
    <table>
      <tr>
        <img style="width: 300px;height: 127px;margin-top: 25px;" src="http://cdn.lostdog.mx/assets/img/logo-name.png">
        <h2 style="border-bottom:10px solid #673A9A;border-radius: 5px; width: 100%"><i>¡Hola {{reporter.name}} {{reporter.lastName}}!</i></h2>
        <h3>¡Hemos encontrado el dueño del perro! </h3>
        <p>En poco tiempo se podra en contacto contigo. Preferentemente <br></p>
        <h3 style="padding-top: 20px">¿Cúales son los siguientes pasos?</h3>
        <p>-Deberán <b>acordar un punto de encuentro </b>en un parque</p>
        <p> o en un lugar público. Lo mejor es ir acompañado</p>
        <p>-Si el perro es el correcto, deberás <b>solictar el código QR</b></p>
        <p>que porta el dueño al momento de entragar la mascota.</p>
        <p>A este código le podrás tomar una fotografía con tu celular, pedir que </p>
        <p>la manden por algún tipo de mensajeria instantanea(WhatsApp o SMS)</p>
        <p>o por correo eletrónico. *Es importante que adquieras esta imagen para</p>
        <p>poder recibir tu recompenza</p>
        <p style="padding-top: 20px">-Deberás <b>escanear / subir</b> la imagen del código <a href="https://{{metadata.appName}}.com/#/reward">aqui</a> y recibir tu recompenaza.</p>
        <p>Puedes hacerlo en desde <b>computadora</b>, sólo pon la imagen frente a la webcam <b>o</b> usar agregarla desde tu <b>celular</b>.</p>
        <div style="border-top:10px solid #673A9A;border-radius: 5px;width: 100%"></div>
        <div style="margin-top: 5px;padding-bottom: 10px"> <a href="#">soporte@Lostdog.mx</a><b>|</b> <a href="#">Preguntas frecuentes</a></div>        
      </tr>
    </table>
  </body>

</html>
