<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bienvenido a Lostdog</title>
</head>

<body>
  Hola {{reporter.name}} {{reporter.lastName}}
	En poco tiempo se podra en contacto contigo Una vez que hayan encontrado, accede a este link para saber si completo la <a href="https://www.{{metadata.appName}}.com/#/payment/review?transcation={{transaction._id}}">transacion</a>
</body>

</html>
