<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Notificacion de Lostdog</title>
</head>
<body style="margin:0;background-color:#F2F2F2; text-align: center;">
  <img style="width: 300px;height: 127px;margin-top: 25px;" src="http://cdn.lostdog.mx/assets/img/logo-name.png">
  <h2 style="border-bottom:10px solid #673A9A;border-radius: 5px; width: 100%"><i>¡Hola {{reporter.name}} {{reporter.lastName}}!</i></h2>
  <h3>En poco tiempo se podra en contacto contigo.</h3>
  <p>Recuerda <b>escanear</b> el codigo <b>QR</b> te se le enviará al dueño <a href="https://wwww.{{metadata.appName}}.com/#/reward">aqui</a> para recibir tu recompenaza.</p>
  <p>Puedes hacerlo en desde <b>computadora</b>, sólo pon la imagen frente a la webcam <b>o</b> tambien usar el scanner movil con tu <b>celular</b>.</p>
  <div style="border-top:10px solid #673A9A;border-radius: 5px;width: 100%"></div>
  <div style="margin-top: 5px"> <a href="#">soporte@Lostdog.mx</a><b>|</b> <a href="#">Preguntas frecuentes</a></div>
</body>

</html>
