<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ya estamos buscando a {{dog}}</title>
    <link rel="icon" href="http://cdn.lostdog.mx/assets/img/favicon.ico">
  </head>
  <body style="margin: 0; background-color: white;">
    <table style="width: 100%">
      <tr>
        <th style="width: 20%;"></th>
        <th style="width: 60%;"></th>
        <th style="width: 20%;"></th>
      </tr>
      <tr>
        <td style="width: 20%;"></td>
        <td style="width: 60%; background-color: #F2F2F2; border-radius: 10px; text-align: center;">
          <img style="width: 300px; height: 127px;margin-top: 25px;" src="http://cdn.lostdog.mx/assets/img/logo-name.png">
          <h2 style="border-bottom: 10px solid #673A9A;border-radius: 5px; width: 100%;"><i>¡Hola {{ownerName}}!</i></h2>
          <h3>Tu anuncio fue <b>creado exitosamente</b> y ya estamos haciendo todo nuestro esfuerzo para encontrar a {{dog}}.</h3>
          <p style="padding-top: 20px;">En la siguiente liga podrás encontrar tu anuncio en la plataforma Facebook:</p>
          <a href="https://www.facebook.com/LostDogMex/posts/{{postId}}">https://www.facebook.com/LostDogMex/posts/{{postId}}</a>
          <p style="padding-top: 20px;">Te recomendamos ampliamente que utilices el link de esa publicación para <b>compartirla</b> en tus <b>redes sociales</b> para mantener así tus <b>datos seguros</b> y evitar el mal uso de tu información.</p>
          <p style="padding-top: 20px;">Si tenemos avistamientos o alguien rescata a tu mascota, te llegara un correo con evidencia y con datos para contactar a la persona que lo tiene y llevar un proceso seguro.</p>
          <p style="padding-top: 20px;">Entendemos tu tristeza e impotencia, no te preocupes, juntos lo vamos a recuperar, recuerda que estamos para servirte y encontrar a tu mascota.</p>
          <h5 style="padding-top: 30px;">Atentamente Equipo Lost Dog</h5>
          <div style="border-top: 10px solid #673A9A;border-radius: 5px;width: 100%;"></div>
          <div style="margin-top: 5px; padding-bottom: 10px;"> <a href="mailto:soporte@Lostdog.mx">soporte@Lostdog.mx </a><b> | </b> <a href="https://{{metadata.appName}}/#/info/faqs"> Preguntas frecuentes</a></div>
        </th>
        <td style="width: 20%;"></td>        
      </tr>
    </table>
  </body>
</html>
