<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bienvenido a Lostdog</title>
</head>

<body style="margin:0;background-color:#F2F2F2; text-align: center;">
  <img style="width: 300px;height: 127px;margin-top: 25px;" src="http://cdn.lostdog.mx/assets/img/logo-name.png">
  <h1 style="border-bottom:10px solid #673A9A;border-radius: 5px; width: 100%"><i>¡Hola Usuario!</i></h1>
  <h2>¡Bienvenido a la <b>comunidad más grande</b> de mascotas de todo Latinoamérica!</h2>
  <div style="margin:30px 30px">
    <p><b>Lost Dog</b> es una plataforma que ayuda a dueños a encontrar sus mascotas perdidas. El método es <b>rápido y eficiente</b> sin importar donde sea la localidad en la que hayas extraviado a tu compañero. </p>
    <p>Cada día la comunidad crece y esto es gracias a ti, con tu apoyo tenemos una mayor red de captación de mascotas perdidas y de dueños agradecidos.</p>
    <p>Puedes ingresar a tu cuenta <a href="https://young-dusk-13276.herokuapp.com/#/profile/main">aqui</a>.</p>
    <p>Sabemos lo mucho que quieres a tu mascota y por eso estamos <b>comprometidos</b> por hacer un mundo mejor para ellas, por eso proporcionamos las herramientas adecuadas para que nos podamos ayudar mutuamente. </p>
    <p style="padding-top: 20px"><b>Muchas gracias</b> por confiar en nosotros, tus amigos de Lost Dog.</p>
  </div>
  <img style="margin:20px;" src="http://cdn.lostdog.mx/assets/img/email-bottom.png" alt="goodbye dogs">
  <div style="border-top:10px solid #673A9A;border-radius: 5px;width: 100%"></div>
  <div style="margin-top: 5px"> <a href="#">soporte@Lostdog.mx</a><b>|</b> <a href="#">Preguntas frecuentes</a></div>    
</body>

</html>
