<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bienvenido a Lostdog</title>
</head>

<body style="margin:0;background-color:#F2F2F2;">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#F2F2F2">
    <tr>
      <td></td>
      <td align="center" valign="top" style="padding: 45px">
        <img style="width: 260px;height: 133px;float: right;" src="http://cdn.lostdog.mx/assets/img/logo-lost-dog.png" alt="logo lostdog">
      </td>
      <td></td>
    </tr>
    <tr style="padding-top: 30px;">
      <td></td>
      <td>
        <h5 style="padding-left: 70px;border-bottom:10px solid #673A9A;border-radius: 5px">¡Hola Usuario!</h5>
      </td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td style="padding-left: 80px">
        <p>¡Bienvenido a la <b>comunidad más grande</b> de mascotas de todo Latinoamérica!</p>
        <p><b>Lost Dog</b> es una plataforma que ayuda a dueños a encontrar sus mascotas perdidas. El método es <b>rápido y eficiente</b> sin importar donde sea la localidad en la que hayas extraviado a tu compañero. </p>
        <p>Cada día la comunidad crece y esto es gracias a ti, con tu apoyo tenemos una mayor red de captación de mascotas perdidas y de dueños agradecidos.</p>
        <p>Puedes ingresar a tu cuenta <a href="https://young-dusk-13276.herokuapp.com/#/home">aqui</a> </p>
        <p>Sabemos lo mucho que quieres a tu mascota y por eso estamos <b>comprometidos</b> por hacer un mundo mejor para ellas, por eso proporcionamos las herramientas adecuadas para que nos podamos ayudar mutuamente. </p>
        <p style="padding-top: 20px"><b>Muchas gracias</b> por confiar en nosotros, tus amigos de Lost Dog.</p>
      </td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td style="padding-top: 100px; padding-bottom: 150px;border-bottom:10px solid #673A9A;border-radius: 5px;"><img style="display: block;margin: 0 auto;" src="http://cdn.lostdog.mx/assets/img/email-bottom.png" alt="goodbye dogs"></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td style="text-align: center;"> <a href="#">Políticas de privacidad</a> <b>|</b> <a href="#">Contacto</a> <b>|</b> <a href="#">Preguntas frecuentes</a></td>
      <td></td>
    </tr>
  </table>
</body>

</html>
